/* Colors and fonts */

body {
	background: #EDEDE9;
	color: rgb(0, 0, 128);
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	}
h1 {
	color:rgb(70, 130, 180) ;
	font-family: 'Libre Baskerville', serif;
	font-size: 32px;
    }
h2 {
	color:#748CAB ;
	font-family: 'Libre Baskerville', serif;
	font-size: 22px;
    }
h3 {
	color:#748CAB ;
	font-family: 'Libre Baskerville', serif;
	font-size: 22px;
    }
h4 {
	color:#748CAB ;
	font-family: 'Libre Baskerville', serif;
	font-size: 22px;
    }
a {
  color: rgb(100, 149, 237);
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: rgb(188, 143, 143);
  text-decoration: none;
}

/* Custom design with class */

.container {
	width: 750px;
	margin: 275px auto;
}
@media (max-width: 960px) {
	.container {
		width: 800px;
	}
}
@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}
@media (max-width: 540px) {
	.container {
		width: 400px;
	}
}
.card-white {
	background-color: #F6F6F4;
	padding:40px ;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
	border-radius: 8px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
border-radius:50% ;	
}
.btn-blue {
	background-color:#ede0d4;
	color: rgb(100, 149, 237) ;
	padding: 10px 15px;
	border-radius:  4px;
}
.btn-blue:hover {
background-color: #bde0fe;
color:rgb(255, 232, 214) ;
}
.list-inline {
list-style: none;
padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size:  30px;
}
#intro p {
margin-bottom: 28px;
}




